footer{
    padding-block: 4rem 2rem;
}

.footer__container{
    gap: 4rem ;
}

.footer__logo{
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .75rem;
}

.footer__logo i {
    color: var(--first-color);
    font-size: 1.5rem;
    font-weight: initial;
}

.footer__content{
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 3rem;
}
.footer__title{
    font-size: var(--normal-font-size);
    margin-bottom: 1rem;
}

.footer__links{
    display: grid;
    row-gap: .75rem;
}

.footer__link{
    color: var(--text-color);
    transition: all .4s;
}

.footer__link:hover{
    color: var(--second-color);
}

.footer__copy{
    display: block;
    margin-top: 6rem;
    text-align: center;
    font-size: var(--small-font-size);
}

/* breakpoints */
@media screen and (max-width: 320px){
    .footer__content{
        grid-template-columns: max-content;
    }
    
}

@media screen and (min-width: 768px){
    
    .footer__container{
        gap: 6rem;
        grid-template-columns: 1fr max-content;
        
        
    }
    
}

@media screen and (min-width: 1150px){
    .footer__logo {
        margin-bottom: 1.5rem;
    }

    .footer__logo{
        font-size: 2rem;
    }
    .footer__content{
        gap: 5.5rem !important;
    }
    
}
